
<h1 class="text-center">About EDR</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag("profile.jpg", class:"img-fluid rounded grayscales")%>
  </div>
  <div class="col-md-8">
    <p>
      Eumer Joseph Ramos started as a software application developer and worked for 5 years before leaving the industry.
      Later on, he started learning web development due to opportunity it gives in the industry and focused more on backend development with little experience on website designing.
      Currently, he is seeking employment to further increase his knowledge and skills as a web developer.
    </p>
    <p>
      He has taken an interest in learning other programming language. He is studying ruby and ruby on rails as a means to learn more
      and be versatile in web development. As a result, this web application is the application of his knowledge regarding ruby on rails.
      Another thing is learning is other php frameworks such as laravel and hanami.
    </p>
    <p>
      Besides web development, Eumer prefers sleeping and playing video games as a hobby and to relieve his boredom and stress. He also prefer coffee over tea.
    </p>

  </div>
</div>
