
<div class="introduction text-center">
  <h1>Hello, <span style="color:#f42"> I'm Eumer Joseph Ramos </span> </h1>
  <h2>I'm a Web Developer.</h2>
  <h3>I learn.</h3>
  <h4>I evolve.</h4>
</div>

<%= render "portfolio"%>

<%= render "edr"%>

<%= render "skills"%>
