<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>
  lorem ipsum dolor
</p>
<br>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">To add</h1>
    <p class="lead">
      <ol>
        <li>Search Function on animes, by name and by location</li>
        <li>Sorting of anime tables??</li>
        <li>Fontawesome icons</li>
        <li>Breadcrumb if possible</li>
        <li>design login, logout, signin and the navbar</li>
        <li>design home page</li>
        <li>add dummy contact form</li>
        <li>Optional add image upload for each anime</li>
        <li>Optional, once image added, changed the index displaying method Image->title</li>
      </ol>
    </p>
  </div>
</div>
