/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "bulma";*/

@import url("https://fonts.googleapis.com/css?family=Oswald");

$main_font: 'Oswald', sans-serif;
$primary-color: #abc555;
$sectionpads: 8em;
$mobilescreen: 600px;


@mixin grayit($v){
  -webkit-filter: grayscale($v);
  -moz-filter: grayscale($v);
  filter: grayscale($v);
}

@mixin sectionpads($v){
  padding: $v
}

body{
  font-family: $main_font;
  background-image: url("mainbg.jpg");
}

div{
  margin-top: 5px;
  margin-bottom: 5px;
}

section{
  @include sectionpads($sectionpads);
}



/*small mobiel screen*/
@media only screen and (max-width: $mobilescreen) {
  section{
    @include sectionpads(1em);
  }
}
