<footer id="footers">
  <div class="container text-white">
    <div class="text-center">
      <p>
        <h1>THANKS!</h1>
      </p>
      <p>
        <h3>Need something from me?</h3>
      </p>
      <div class="email-links">
        <a href="mailto:eumerjoseph.ramos@yahoo.com" class="btn btn-outline-secondary">
          <i class="fas fa-envelope-square"></i>
          Contact Me
        </a>
      </div>
      <ul id="secondary-link">
        <li>
          <a href="https://github.com/Eumaser" class="btn btn-outline-secondary" target="_blank">
            <i class="fab fa-github"></i>

          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/eumerjoseph-ramos-80589a72/" class="btn btn-outline-secondary" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <p>
        &copy 2018 EDR
      </p>
    </div>
  </div>
</footer>
